<span class="skill-prof-filter" {{#if (not visible)}}hidden{{/if}}>
    <label data-rank="1" data-tooltip="PF2E.ProficiencyLevel1">T<input type="radio" name="{{type}}-skill-prof" value=1></label>
    <label data-rank="2" data-tooltip="PF2E.ProficiencyLevel2">E<input type="radio" name="{{type}}-skill-prof" value=2></label>
    <label data-rank="3" data-tooltip="PF2E.ProficiencyLevel3">M<input type="radio" name="{{type}}-skill-prof" value=3></label>
    <label data-rank="4" data-tooltip="PF2E.ProficiencyLevel4">L<input type="radio" name="{{type}}-skill-prof" value=4></label>
</span>
